<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Galería | Grupo Signa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/galeriaestilo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estiloinicio.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/acercastyle.css') }}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon-32x32.png') }}">

</head>
<body>

{% include 'header.html' %}

    <div class="container">
        <h2 class="bienvenida">Galeria de Proyectos</h2>

 <div class="galeria">
  <h1>Explora algunos de nuestros trabajos más destacados:</h1>
  <div class="galeria-grid fade-slide-in">
    {%for proyecto in proyectos%}
    <div class="galeria-item">
      <img src="{{proyecto.imagen_path}}" alt="{{proyecto.nombre_proyecto}}">
        <div class="description-hover">
          <p>{{clientes.nombre}}</p>
          <a href="{{ url_for('proyecto', id_proyecto=proyecto.id_proyecto) }}">Ver detalles</a></div>
    </div>
    {%endfor%}
  </div>
</div>  
<script src="{{ url_for('static', filename='js/slideshow.js') }}"></script>  
</div>

{% include 'footer.html' %}
</body>
</html>
