<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Galería | Grupo Signa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/galeriaestilo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estiloinicio.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/acercastyle.css') }}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon-32x32.png') }}">

</head>
<body>

 <header>
  <nav>
    
            <ul>
                <li><img src="{{ url_for('static', filename='images/logo 4.png') }}" alt="Logo Grupo Signa" class="logo"></li>
                <li><a href="{{ url_for('inicio') }}">Inicio</a></li>
                <li><a href="{{ url_for('servicios') }}">Servicios</a></li>
                <li><a href="{{ url_for('galeria') }}">Galería</a></li>
                <li><a href="{{ url_for('contacto') }}">Contacto</a></li>
                <li><a href="{{ url_for('acerca') }}">Nosotros</a></li>
            </ul>
          </nav>
        </header>


    <div class="container">
        <h2 class="bienvenida">Galeria de Proyectos</h2>

 <div class="galeria">
  <h1>Explora algunos de nuestros trabajos más destacados:</h1>
  <div class="galeria-grid fade-slide-in">
    {%for proyecto in proyectos%}
    <div class="galeria-item">
      <img src="{{proyecto.imagen_path}}" alt="{{proyecto.nombre_proyecto}}">
        <div class="description-hover">
          <p>{{clientes.nombre}}</p>
          <a href="{{ url_for('proyecto', id_proyecto=proyecto.id_proyecto) }}">Ver detalles</a></div>
    </div>
    {%endfor%}
  </div>
</div>  
<script src="{{ url_for('static', filename='js/slideshow.js') }}"></script>  
</div>

<footer>
    <div class="footer-container">
        <div class="footer-col">
            <p>¿Tienes dudas? Escríbenos a:</p>
            <p>
                <span class="material-icons">mail</span>
                <a href="mailto:disenogruposigna@gmail.com  ">disenogruposigna@gmail.com</a>
            </p>
            <p>
                <span class="material-icons">phone</span>
                <a href="tel:6462066098">646-206-6098</a>
            </p>
            <p>
                <span class="material-icons">location_on</span>
        Av. Espinoza entre 3ra y cuarta, Colonia Obrera Ensenada,BC.
            </p>

        </div>
        <div class="footer-col">
            <img src="{{ url_for('static', filename='images/logo 3.png') }}" alt="Logo Grupo Signa" class="imagenes">
            <p>Visítanos en nuestras redes sociales:</p>
         <a href="https://instagram.com" target="_blank" title="Instagram"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://facebook.com" target="_blank" title="Facebook"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://wa.me/526462066098" target="_blank" title="WhatsApp"><i class="fa-brands fa-whatsapp"></i></a>
        </div>
    </div>
    <p style="text-align:center;">© 2025 GrupoSigna. Todos los derechos reservados.</p>
</footer>
</body>
</html>
