<header>
    <nav>
        <ul>
            <li><img src="{{ url_for('static', filename='images/logo 4.png') }}" alt="Logo Grupo Signa" class="logo"></li>
            <li><a href="{{ url_for('inicio') }}">Inicio</a></li>
            <li><a href="{{ url_for('servicios') }}">Servicios</a></li>
            <li><a href="{{ url_for('galeria') }}">Galería</a></li>
            <li><a href="{{ url_for('contacto') }}">Contacto</a></li>
            <li><a href="{{ url_for('acerca') }}">Nosotros</a></li>
        </ul>
    </nav>
</header>